html, body {
    margin: 0;
    font-family: system-ui, -apple-system,"Segoe UI", Roboto, Arial;
}

.nav-bar {
    background-color: blue;
    color: aliceblue;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1024px){
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 992px){
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 576px){
    .grid-container {
        grid-template-columns: repeat(1,1fr);
    }
}

.article-card{
    width: 250px;
    max-width:100%;
    border: 1px solid #ddd;
    border-style: groove;
    border-color: black;
    background-color:#ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    vertical-align: top;
    box-shadow:  0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.article-img{
    width: 100%;
    height: auto;
    border-radius: 10% 10% 0% 0%;
}

.article-card:hover {
    transform: scale(1.03);
    border-color: brown;
    border: 5px;
}

.article-name {
    font-size: 1.2rem;
    height: auto;
    margin: 12px 0 6px;
    color: #333;
}

.article-price {
    font-size: 16px;
    font-weight: bold;
    color:#007b00;
    margin-bottom: 12px;
}

.article-btn {
    background-color: #0078d7;
    color:white;
    border: none;
    padding: 10px 16px;
    border-radius:4px;
    cursor: pointer;
    font-size: 14px;
}

.article-btn:hover {
    background-color: #005fa3;
}